@font-face {
  font-family: "iconfont"; /* Project id 3025060 */
  src: url('iconfont.woff2?t=1640081453709') format('woff2'),
       url('iconfont.woff?t=1640081453709') format('woff'),
       url('iconfont.ttf?t=1640081453709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paihangbang:before {
  content: "\e653";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-yigou:before {
  content: "\e65c";
}

.icon-yunduan:before {
  content: "\ec1d";
}

.icon-bofang2:before {
  content: "\ec61";
}

.icon-yinyue:before {
  content: "\e667";
}

.icon-guanzhu:before {
  content: "\e8bc";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-boke:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e61b";
}

.icon-pingguo:before {
  content: "\e610";
}

.icon-yonghu:before {
  content: "\e626";
}

.icon-mima:before {
  content: "\e64c";
}

.icon-qq:before {
  content: "\e641";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-zhankai:before {
  content: "\e7d3";
}

.icon-shangyige:before {
  content: "\e78a";
}

.icon-xiayige:before {
  content: "\e7a5";
}

.icon-gengduo:before {
  content: "\e628";
}

.icon-fenxiang:before {
  content: "\e652";
}

.icon-duoxuan:before {
  content: "\e602";
}

.icon-liaotian:before {
  content: "\e63c";
}

.icon-xiazai:before {
  content: "\e856";
}

.icon-fanhui:before {
  content: "\e625";
}

.icon-shipin:before {
  content: "\e601";
}

.icon-bofang1:before {
  content: "\e600";
}

.icon-shouyinji:before {
  content: "\e7fa";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-liebiao:before {
  content: "\e60a";
}

.icon-tuijian:before {
  content: "\ecb3";
}

