@font-face {
  font-family: "iconfont"; /* Project id 3025060 */
  src: url('iconfont.woff2?t=1639759072912') format('woff2'),
       url('iconfont.woff?t=1639759072912') format('woff'),
       url('iconfont.ttf?t=1639759072912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyinji:before {
  content: "\e7fa";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-liebiao:before {
  content: "\e60a";
}

.icon-24gf-playlistMusic:before {
  content: "\ea86";
}

.icon-paihangbang:before {
  content: "\e650";
}

.icon-tuijian:before {
  content: "\ecb3";
}

